<!-- header -->
<!-- <div class="page-header">
    <h3 class="page-title">
        Content [{{Billboard.length}}]
    </h3>
</div> -->

<!-- cards -->
<div class="row">
    <!-- <div class="col-md-3 stretch-card grid-margin">
        <div class="card bg-gradient-dark card-img-holder text-white">
            <div class="card-body ">
                <i class="mdi mdi-file-document
                mdi-24px float-left"></i>
            </div>
            <div class="card-body ">
                <h6 class="card-text">Add landlord
                </h6>
            </div>
        </div>
    </div> -->
    <div class="col-md-3 stretch-card grid-margin">
        <div (click)="add_content()" class="card bg-gradient-dark card-img-holder text-white">
            <div class="card-body ">
                <i class="mdi mdi-camera-iris
                mdi-24px float-left"></i>
            </div>
            <div class="card-body ">
                <h6 class="card-text">Add Content
                </h6>
            </div>
        </div>
    </div>
</div>



<!-- table -->
<div class="row grid-margin">

    <!-- table -->
    <div class="col-md-6 stretch-card grid-margin">

        <div class="card">

            <div class="card">
                <div class="card-body">

                    <div style="height: 50vh;overflow-y:scroll;overflow-x: hidden;">
                        <ion-list>
                            <ion-item *ngFor="let item of Cont">
                                <ion-grid>
                                    <ion-row>
                                        <ion-col (click)="view_content(item.content_type, item.content_url)" class="title" size="3">
                                            {{item.name}}
                                        </ion-col>
                                        <ion-col size="3">
                                            <span *ngIf="item.content_type=='img'">Image is 
                                                <span>
                                                    <span class="green" *ngIf="item.enabled">Enabled</span>
                                                    <span class="red" *ngIf="!item.enabled">Disabled</span>
                                                </span>
                                            </span>
                                            <span *ngIf="item.content_type=='vid'">Video is 
                                                <span>
                                                    <span class="green" *ngIf="item.enabled">Enabled</span>
                                                    <span class="red" *ngIf="!item.enabled">Disabled</span>
                                                </span>
                                            </span>
                                        </ion-col>
           
                                        <ion-col size="2">
                                            <span class="green" *ngIf="item.approved">Approved</span>
                                            <span class="red" *ngIf="!item.approved">Not Approved</span>
                                        </ion-col>
                                        <ion-col size="4">
                                            <ion-button (click)="presentConfirm(item)" color="danger" fill="solid">Remove</ion-button>
                                        </ion-col>
                         
                                    </ion-row>
                                </ion-grid>
     
                            </ion-item>
                        </ion-list>
      

                    </div>


                </div>
            </div>


        </div>
    </div>

    <!-- map -->


    <div class="col-md-6 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <div>
                    <vg-player (onPlayerReady)="onPlayerReady($event)" *ngIf="ctype=='vid'">
                        <video #media id="singleVideo" preload="auto" autoplay controls width="100%">
                            <source [src]=content_url type="video/mp4">
                        </video>
                    </vg-player>
                    <img *ngIf="ctype=='img'" class="image" [src]="content_url" width="100%"/>
                </div>
         
                </div>
            </div>

    </div>
</div>