<div class="page-header">
    <h3 class="page-title">

    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Billboard Media Player
                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>

<!-- filters -->
<div class="row grid-margin">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="form-sample">
                    <p class="card-description">
                        Select Physical Billboard
                    </p>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-sm-12">
                           
                                    <ion-select (ionChange)="startPlayer($event.target.value)" class="form-control" value="select" okText="Okay" cancelText="Dismiss">
                                        <ion-select-option *ngFor="let item of Billboard" value="{{item.content_url}}">{{item.name}}</ion-select-option>
                                      </ion-select>
                                </div>
                            </div>
                        </div>

            
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<!-- table -->
<div class="row grid-margin">

    <!-- map -->
    <div class="col-md-12 stretch-card grid-margin">
        <div class="card">
            <div class="card-body">
                <div *ngIf="content_url">
   
                    <vg-player>
                        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" autoplay controls width="100%">
                            <source [src]=content_url type="video/mp4">
                        </video>
                    </vg-player>
                    
                </div>
               
            </div>
        </div>

    </div>

</div>

