<!-- <!DOCTYPE html>
<html>
<head>
  <title>RTSP IP Camera Stream</title>
  <link href="https://vjs.zencdn.net/7.15.0/video-js.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/7.15.0/video.min.js"></script>
</head>
<body>
  <video id="my-video" class="video-js vjs-default-skin" controls preload="auto" width="640" height="480">
    <source src="rtsp://admin:Londeka123@192.168.15.198:554/live" type="rtsp/mp4">
  </video>
  <script>
    var player = videojs('my-video');
  </script>
</body>
</html> -->

