<!DOCTYPE html>
<html>

<head>
    <title>GSDM Recorder</title>
    <link rel="stylesheet" href="./leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        #map {
            width: 70%;
            height: 100vh;
        }

        #container {
            display: flex;
            flex-direction: row;
            background-color: black;
            /* font-size: 40px !important; */
        }

        #info {
            width: 30%;
            height: 100vh;
            /* display: flex; */
            text-align: center;
            align-items: center;

            color: aliceblue;
            padding: 1%;
        }

        .label {
            color: yellow;
            font-size: 12px;
        }

        #noinfo {
            /* display: flex; */
            text-align: center;
            align-items: center;
            text-align: center;
            padding: 1%;
            color: red;
            width: 30%;
        }

        .info-text {
            width: 100%;
            text-align: center;
        }

        .butt {
            margin-top: 40px;
            height: 150px;
        }

        #loading-spinner {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #3498db;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            animation: spin 2s linear infinite;
            margin: 20px auto;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        iframe {
            width: 380px;
            height: 180px;
            border: none;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div id="container">
        <div id="map"></div>
        <div id="noinfo">
            <div class="info-text">No link selected!</div>
        </div>
        <div id="info">

            <label class="label" for="link-name">Link Name:</label>
            <div id="link-name"></div>
            <label class="label" for="munic-name">Municipality:</label>
            <div id="munic-name"></div>
            <label class="label" for="street-name">Street Name:</label>
            <div id="street-name"></div>
            <label class="label" for="surface">Surface Type:</label>
            <div id="surface"></div>
            <iframe src="http://192.168.15.187:8000/stream"></iframe>

            <button id="recstart" type="button" class="btn btn-primary btn-block butt btn-warning">Start
                Recording</button>
            <button id="recstop" type="button" class="btn btn-primary btn-block butt btn-danger">Stop Recording</button>
            <button id="uploading" type="button" class="btn btn-primary btn-block butt btn-secondary">Wait while
                uploading ...</button>
            <div id="loading-spinner"></div>

        </div>
    </div>

    <script src="./leaflet.js"></script>
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyDB26XW1F6r__fzdWvAfAtRlC-S2h46SJc",
            authDomain: "gsdm-smart-dashboard.firebaseapp.com",
            projectId: "gsdm-smart-dashboard",
            storageBucket: "gsdm-smart-dashboard.appspot.com",
            messagingSenderId: "745288407116",
            appId: "1:745288407116:web:a0df2e79ca3056af5efce9",
            measurementId: "G-3V19P6VDNC",
        };
        var linkNameElement = document.getElementById("link-name");
        var municNameElement = document.getElementById("munic-name");
        var streetNameElement = document.getElementById("street-name");
        var surfaceElement = document.getElementById("surface");
        var recstartElement = document.getElementById("recstart");
        var recstopElement = document.getElementById("recstop");
        var uploadingElement = document.getElementById("uploading");
        var loaderElement = document.getElementById("loading-spinner");
        var info = document.getElementById("info");
        var noinfo = document.getElementById("noinfo");
        var _road_id = '';
        var _host = '192.168.15.187';
        info.style.display = "none";
        recstartElement.style.display = "none";
        recstopElement.style.display = "none";
        uploadingElement.style.display = "none";
        loaderElement.style.display = "none";
        recstartElement.addEventListener("click", function() {
            // Code to execute when the button is clicked
            console.log("Start clicked!");
            loaderElement.style.display = "block";
            StartRecording();
        });
        recstopElement.addEventListener("click", function() {
            // Code to execute when the button is clicked
            console.log("Stop clicked!");
            loaderElement.style.display = "block";
            StopRecording();
        });
        const params = new URLSearchParams(window.location.search);
        // Initialize Firebase
        const app = firebase.initializeApp(firebaseConfig);
        //const analytics = getAnalytics(app);
        const db = firebase.firestore(app);
        var map = L.map("map").setView([-26.654962, 28.597382], 10);
        L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
            maxZoom: 18,
        }).addTo(map);
        //Add polylines from DB
        //Initialize
        const _data = [];
        const _data_fin = [];
        let isInternetAvailable = false;
        let isRecording = false;
        initMap();
        // Add the tile layer to the map
        function initMapOffline() {
            const tileLayerUrl = "tiles/{z}_{x}_{y}.png";
            // Get the current tile layer
            map.removeLayer(L.tileLayer);
            // Create a new tile layer with the same URL
            map.setView([-26.654962, 28.597382], 15);
            const newTileLayer = L.tileLayer(tileLayerUrl, {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
                maxZoom: 18,
            });
            // Add the new tile layer to the map
            newTileLayer.addTo(map);
        }

        function StartRecording() {
            axios.post('http://' + _host + ':3000/startrec', {
                    road_id: _road_id
                })
                .then((response) => {
                    const {
                        output,
                        exitCode
                    } = response.data;
                    document.getElementById('output').innerHTML = `<pre>Output:\n${output}</pre>`;
                    console.log(`Python process exited with code ${exitCode}`);
                })
                .catch((error) => {
                    console.error('Error executing Python code:', error);
                });
        }

        function StopRecording() {
            axios.post('http://' + _host + ':3000/stoprec', {
                    road_id: _road_id
                })
                .then((response) => {
                    const {
                        output,
                        exitCode
                    } = response.data;
                    document.getElementById('output').innerHTML = `<pre>Output:\n${output}</pre>`;
                    console.log(`Python process exited with code ${exitCode}`);
                })
                .catch((error) => {
                    console.error('Error executing Python code:', error);
                });
        }

        function checkIfRecording() {
            const url = 'http://'+_host+":3000/checkdat";

                    fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Response:', data);
                        if(String(data) == 'none'){
                            recstartElement.style.display = "block";
                            recstopElement.style.display = "none";
                            uploadingElement.style.display = "none";
                            loaderElement.style.display = "none";
                        }
                        else if(String(data) == 'rec'){
                            recstopElement.style.display = "block";
                            recstartElement.style.display = "none";
                            uploadingElement.style.display = "none";
                            loaderElement.style.display = "none";
                        }
                        else if(String(data) == 'uploading'){
                            recstopElement.style.display = "none";
                            recstartElement.style.display = "none";
                            uploadingElement.style.display = "block";
                            loaderElement.style.display = "none";
                        }

                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
        }

        function rotateLatLng(value) {
            var latlngs = inputArray.map(function(item) {
                var parts = item.split(",");
                var lat = parseFloat(parts[1]);
                var lng = parseFloat(parts[0]);
                return;
                [lat, lng];
            });
            //console.log(latlngs);
        }

        function initMap() {
            try {
                db.collection("gsdm-road-inspection-segments")
                    .get()
                    .then((querySnapshot) => {
                        querySnapshot.forEach((doc) => {
                            _data.push(doc.data().geometry);
                            _data_fin.push(doc.data());
                        });
                        //console.log("Data:", _data);
                        let len = _data.length;
                        let cnt = 0;
                        while (cnt < len) {
                            var latlngs = _data[cnt].map(function(item) {
                                var parts = item.split(",");
                                var lat = parseFloat(parts[1]);
                                var lng = parseFloat(parts[0]);
                                // console.log("LAT:", lat);
                                // console.log("LNG:", lng);
                                return [lat, lng];
                            });
                            addPoly(map, latlngs, _data_fin[cnt]);
                            cnt += 1;
                        }
                        initMapOffline();
                    })
                    .catch((error) => {
                        console.log("Error getting documents: ", error);
                    });
                setInterval(function() {
                    //console.log("HERE:", _data_fin.length);
                    checkInternet();
                    checkIfRecording();
                    if (isInternetAvailable == false) {
                        //console.log("--non-internet--");
                        const retrievedArrayString = localStorage.getItem("DATA");
                        if (retrievedArrayString) {
                            const retrievedArray = JSON.parse(retrievedArrayString);
                            //console.log(retrievedArrayString)
                            let _len = retrievedArray.length;
                            let cnt = 0;
                            while (cnt < _len) {
                                _data.push(retrievedArray[cnt].geometry);
                                _data_fin.push(retrievedArray[cnt]);
                                cnt += 1;
                            }
                            len = _data.length;
                            cnt = 0;
                            while (cnt < len) {
                                var latlngs = _data[cnt].map(function(item) {
                                    var parts = item.split(",");
                                    var lat = parseFloat(parts[1]);
                                    var lng = parseFloat(parts[0]);
                                    // console.log("LAT:", lat);
                                    // console.log("LNG:", lng);
                                    return [lat, lng];
                                });
                                addPoly(map, latlngs, _data_fin[cnt]);
                                cnt += 1;
                            }
                            //initMapOffline();
                        }
                        //console.log(_data_fin);
                    } else {
                        //console.log("--online--");
                        localStorage.clear();
                        localStorage.removeItem("DATA");
                        const arrayString = JSON.stringify(_data_fin);
                        localStorage.setItem("DATA", arrayString);
                    }
                }, 2000);
            } catch (error) {
                // Code to handle the exception
                console.log("An exception occurred:", error.message);
            }
        }
        //offlineStorage()
        // Assuming you have an array
        //const myArray = [1, 2, 3, 4, 5];
        // Convert the array to a string using JSON.stringify
        //const arrayString = JSON.stringify(myArray);
        // Save the string representation in local storage
        //localStorage.setItem("myArray", arrayString);
        function checkInternet() {
            console.log("Checking internet...");
            // Try to fetch a resource from the internet
            fetch("https://www.google.com", {
                mode: 'no-cors', // 'no-cors' mode to avoid CORS issues
                // The server may not respond, so set a timeout
            }).then(() => {
                console.log("--[REC] Online--");
                isInternetAvailable = true;
            }).catch(() => {
                console.log("--[REC] No Internet--");
                isInternetAvailable = false;
            });
        }

        function addPoly(_map, _array, _data) {
            // Add Poly
            var polyline = L.polyline(_array, {
                color: "purple",
                weight: 10
            });
            polyline.addTo(_map);
            polyline.on("mouseover", function() {
                this.setStyle({
                    color: "pink", // or whatever style you wish to use
                });
            });
            polyline.on("mouseout", function() {
                this.setStyle({
                    color: "purple", // or whatever style you wish to use
                });
            });
            polyline.bindPopup(
                "Municipality: " +
                _data.municipality +
                "<br>Road ID: " +
                _data.road_id +
                "<br>Street Name: " +
                _data.street_name +
                "<br>Surface Type: " +
                _data.surfacetype
            );

            function getCoordinates(polyline) {
                var latLngs = polyline.getLatLngs();
                var coordinates = latLngs.map(function(latLng) {
                    return latLng.lng + " / " + latLng.lat;
                });
                return coordinates.join(", ");
            }
            // Trigger popup open on mouseover
            polyline.on("mouseover", function(e) {
                this.openPopup();
            });
            // Open link on click
            polyline.on("click", function() {
                noinfo.style.display = "none";
                info.style.display = "block";
                // Send the message to the parent page
                console.log("Segment clicked!:", _data.road_id);
                console.log("[INFO]:", _data.street_name);
                _road_id = _data.road_id;
                linkNameElement.innerText = _data.road_id;
                municNameElement.innerText = _data.municipality;
                streetNameElement.innerText = _data.street_name;
                surfaceElement.innerText = _data.surfacetype;
            });
        }
    </script>
</body>

</html>